<footer>
  <div class="wrap cf">
    <a class="site-logo navbar-brand" href="{{ site.baseurl }}/" title="The Remote Lab Blog">
    <img src="{{ "/assets/img/logo_small.jpg" | prepend: site.baseurl }}" alt="The Remote Lab">
    <p>
    	&copy; The Remote Lab |
    		Knyvett House,
		Watermans Business Park,
		The Causeway, Staines, TW18 3BA
		United Kingdom</p>
	 <p>Tel : +44 2089823596  
   | Mail : hello@theremotelab.com
    </p>
    <p> <a href="https://www.facebook.com/TheRemoteLab" target="_blank"> Facebook</a> | <a href="https://twitter.com/TheRemoteLab" target="_blank">Twitter</a> | <a href="https://www.linkedin.com/company/the-remote-lab" target="_blank">linkedin</a> | <a href="https://github.com/TheRemoteLab" target="_blank">Github</a> | <a href="https://theremotelab.slack.com" target="_blank">Slack</a></p>
  </div>
</footer>
